.container {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    border-color: #624105;
    border-radius: var(--mantine-radius-md);
    overflow: hidden;
    height: 100%;
}

.header {
    background-color: #624105;
    padding: var(--mantine-spacing-sm);
}

.content {
    height: 100%;
}

.data {
    flex-grow: 1
}

.offerTokenName {
    color: white;
    font-size: var(--mantine-font-lg);
    font-weight: 700;
}

.buyerTokenName {
    font-style: italic;
    font-weight: 500;
    color: var(--mantine-color-gary-5);
}

.buyButtonGroup {
    width: 50%;
}

.buyButton {
    width: 100%;
    height: 35px;
}

.showOfferButton {
    width: 50%;
    height: 35px;
}

.loader {
    height: 500px;
    width: 500px;
}

.offerId {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-dark-9);
    font-size: var(--mantine-font-lg);
    font-weight: 700;
    color: white;
}