.container {
    display: flex;
    flex-direction: row;
    height: 35px;
    gap: var(--mantine-spacing-xs);
    align-items: "center";
    background-color: var(--mantine-color-dark-4);
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-raidus-md);
}

.container:hover{
    cursor: pointer;
    background-color: var(--mantine-color-dark-5);
}