.container{
    position: absolute;
    top: 0;
    left: 105%;
    border-radius: 8px;
    width: 70%;
    background-color: #1A1B1E;
    overflow: hidden;
    max-height: 70%;
}

.header{
    background-color: var(--mantine-color-brand-9);
    padding: 20px;
}

.body{
    padding: 20px;
    overflow-y: scroll;
}