.container {
    display: flex;
    /* light-dark() : 1er = schéma clair, 2e = schéma sombre */
    background-color: light-dark(
        var(--mantine-color-gray-1),
        var(--mantine-color-dark-6)
    );
    width: 100%;
    gap: var(--mantine-radius-md);
    align-items: center;
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-radius-md);
}

.wallet {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: var(--mantine-color-brand-5);
    border-radius: var(--mantine-radius-md);
    padding: 10px;
}

.balance {
    flex-grow: 1;
    color: var(--mantine-color-text);
}

.text {
    color: var(--mantine-color-text);
}