.message {
    width: 100%;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mantine-color-gray-2);
    background-color: var(--mantine-color-yellow-0);
    color: var(--mantine-color-brand-4);
    font-weight: 500;
}